<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="/static/css/style.css">

        <script src="/static/js/ajax.js" defer></script>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>😈JS | Ajax</title>
    </head>
    <body>
        <div class="container">
            <h1>😈JS | Ajax</h1>
            <canvas id="myChart"></canvas>
        </div>
    </body>
</html>